
  <!-- color="primary" -->
  <!-- color="accent" -->
  <mat-toolbar class="back-color">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
      <!-- <mat-icon class="example-spacer" >menu</mat-icon> -->
      <img src="./../../assets/images/slack_icon-removebg-preview.png" alt="Launch Image" height="30px">

    </button>
    <span class="example-spacer" routerLink="/">Slack Messenger</span>
    <button mat-stroked-button class="spacer" routerLink="/auth/register">Register</button> &nbsp;
    <button mat-stroked-button class="spacer" routerLink="/auth/login">Login</button>
  </mat-toolbar>

