.example-spacer {
  flex: 1 1 auto;
  color: white;

}
.back-color{
  background-color:#4a154b;
  width: 100%;
  /* position: absolute; */
}
.spacer {
  color: white;
  margin:05px;
  /* padding: 05px 05px 0 0; */

}
/* .fixed-header {
  position: fixed;
  width: 100%;
  z-index:999;
  } */


