<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : '' ">

<div class="logo-container">
  <button class="logo" (click)="togglecollapse()">YS</button>
  <div @fadeInOut *ngIf="collapsed">
    <!-- Angular -->
    <button  class="logo-text"  mat-button [matMenuTriggerFor]="menu">
    <!-- <span class="logo-text">
    </span> -->
    {{comm_name}}
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let item of menuItems">
        <button *ngIf="!item.elementRef" mat-menu-item (click)="select(item.id,item.text)">{{ item.text }}</button>
        <button *ngIf="item.elementRef" mat-menu-item [matMenuTriggerFor]="item.elementRef">{{ item.text }}</button>
      </ng-container>
    </mat-menu>
  </div>

  <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
  </button>
</div>
  <!-- <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let x of navData">
        <a class="sidenav-nav-link" [routerLink]="[x.routeLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">

          <i class="sidenav-link-icon" [class]="[x.icon]"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{x.label}}</span>
        </a>
      </li>

  </ul> -->


  <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let x of navData">
        <div *ngIf="x.items.length == 0 && x.routeLink != null">
          <a [routerLink]="[x.routeLink]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link">
            <i class="sidenav-link-icon" [class]="[x.icon]"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{x.label}}</span>

          </a>
        </div>

        <div *ngIf="x.items.length > 0">
          <a class="sidenav-nav-link">
            <i class="sidenav-link-icon" [class]="[x.icon]"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{x.label}}</span>
          <i class="fa-solid fa-arrow-right"></i>
          </a>

        </div>

                <ul class="subMenu">
                  <li *ngFor="let item_sub of x.items">
                    <a [routerLink]="[item_sub.routeLink, item_sub.id]" class="sidenav-nav-subitem-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{item_sub.label}}</span>
                </a>
                  </li>
                </ul>

      </li>

      <div [ngClass]="chennel_disp ? 'channelHide' : 'nav-add-channel'">
        <a class="sidenav-nav-link" (click)="openDialog()">
              <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Add Channel</span>

        </a>

      </div>

  </ul>



</div>
