<div class="design">
  <button mat-button color="primary" (click)="openDialog()">Create Community</button>
</div>


<div class="container">
  <div class="row">
    <ng-container *ngFor="let comm of community_data">
      <div class="col-sm-4">

        <div class="card" style="width: 18rem; height: 13rem;">
          <div class="card-body">
            <h4 class="card-title">{{comm.Name}}</h4>
            <div class="">
              <h5 class="card-subtitle mb-2 text-muted">Community Members:- {{comm.Members}}</h5>
              <h5 class="card-subtitle mb-1 text-muted">Channels: {{comm.Channels}}</h5>
            </div>
            <p class="card-text"> {{comm.Description}}</p>
            <a class="card-link"(click)="selected_community(comm.id)">Select Community{{comm.id}}</a>
          </div>
        </div>
      </div>
      </ng-container>

  </div>
</div>



