<div class="design">
  <button mat-button color="primary" (click)="openDialog()">Create Community</button>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ng-container *ngFor="let comm of community_data">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-title">{{comm.name}}</h4>
            <div class="">
              <h5 class="card-subtitle mb-1 text-muted">Community Channels: {{comm.channel}}</h5>
              <h5 class="card-subtitle mb-2 text-muted">Community Members:- {{comm.member}}</h5>
            </div>
            <p class="card-text"> {{comm.description}}</p>
            <a href="#" class="card-link">Select Community{{comm.id}}</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
      </ng-container>


    </div>
  </div>
</div>



