/* *{
  margin: 0px;
  padding:0px;
  } */


  app-topheader{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
  }
main{
position: absolute;
width: 100%;
top: 4rem;
z-index: 1;
}
  app-sidenav{
    position: absolute;
    left: 0rem;
    /* width: 250px; */
    height: calc(100vh - 4rem);
    /* border-top: 1px solid white; */
    /* z-index: 1; */

  }
