


<div class="container">


  <div class="row" style="float: inline-end;">
    <p>Member ID: </p>{{memberID}}
  </div>
  <div class="row">
    <div class="col-sm-10">
      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="card">
        <div class="card-head">Ayushi Receiver</div>
        <div class="card-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
           Velit illo magnam illum voluptatem ratione, et, tempora dignissimos quos voluptatibus sed assumenda aliquid, laborum dolorum!
           Doloremque, culpa. Consequatur dolore recusandae maxime?
        </div>
      </div>
    </div>
  </div>
</div>


<div c lass="row">
  <div class="col-sm-10">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="card1">
      <div class="card-head1">Yash Sender</div>
      <div class="card-body1">
         Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Velit illo magnam illum voluptatem ratione, et, tempora dignissimos quos voluptatibus sed assumenda aliquid, laborum dolorum!
         Doloremque, culpa. Consequatur dolore recusandae maxime?
      </div>
    </div>
  </div>
</div>
</div>


<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <p>Send Message by user</p>
</div>



</div>
