.card{
  display: contents;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0 .25rem .5rem #e6edef;
  margin: 1.25rem 0 1.25rem 0;
}

.card-head{
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  font-size: 1rem;
  font-weight: 600;
}

.card-body{
  padding: 1rem 1.5rem;
}


.card1{
  display: contents;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0 .25rem .5rem #e6edef;
  margin: 1.25rem 0 1.25rem 0;
}

.card-head1{
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  font-size: 1rem;
  text-align: end;
  font-weight: 600;
}

.card-body1{
  padding: 1rem 1.5rem;
  text-align: justify;
  text-justify: inter-word;
  text-align: end;


}

