.example-spacer {
  flex: 1 1 auto;
  color: white;

}
.back-color{
  /* background-color:#4a154b; */
  background: #263238;
}
.spacer {
  color: white;
  margin:05px;
  /* padding: 05px 05px 0 0; */

}
/* .fixed-header {
  position: fixed;
  z-index:999;
  } */

  /* *{
    margin: 0px;
    padding:0px;
    } */


    .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

