<!-- <p>register-component works!</p> -->
<div class="container">

    <div class="d-flex justify-content-center m-3">
      <img src="../../../assets/images/slacklogo.png" alt="Slack Logo" height="40px">
    </div>
    <div class="d-flex justify-content-center mt-5">
      <p class="text-heading">First of all, enter your email address</p>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <p class="heading-text">We suggest using the email address that you use at work.</p>
  </div>
  <div class="d-flex justify-content-center">

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. example@gmail.com...">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. example@gmail.com...">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. ******" type="password">
      </mat-form-field>
      <button type="button" class="register_button">Submit Your Data</button>
    </form>

  </div>


</div>
