<!-- <p>register-component works!</p> -->
<div class="container">

    <div class="d-flex justify-content-center m-3">
      <img src="../../../assets/images/slacklogo.png" alt="Slack Logo" height="40px">
    </div>
    <div class="d-flex justify-content-center mt-5">
      <p class="text-heading">First of all, enter your email address</p>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <p class="heading-text">We suggest using the email address that you use at work.</p>
  </div>
  <div class="d-flex justify-content-center">

    <form class="example-form" [formGroup]="RegistrationForm" novalidate>

      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. example@gmail.com..." formControlName="name">
      </mat-form-field>
    <div *ngIf="submitted && f['name'].errors && f['name'].touched">
      <div style="color: red;" *ngIf="f['name'].errors['required']">This field is required</div>

    </div>


      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. example@gmail.com..." formControlName="email">
      </mat-form-field>
      <div *ngIf="submitted && f['email'].errors && f['email'].touched">
        <div style="color: red;" *ngIf="f['email'].errors['required']">This field is required</div>
      </div>
            <div style="color: red;" *ngIf="f['email'].errors?.pattern">Please enter valid email address</div>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. ******" type="password" formControlName="password">
      </mat-form-field>

      <div *ngIf="submitted && f['password'].errors && f['password'].touched">
        <div style="color: red;" *ngIf="f['password'].errors['required']">This field is required</div>

      </div>
      <button type="submit" class="register_button" (click)="addUserRecord()">Submit Your Data</button>

    </form>


  </div>


</div>
